<h1 class = "top">Show Finder</h1>
<article class="form">
  <p class = "disc">This website allows you to search for a show. Try by typing a show below.</p>
  <form action="/searchShows" method="POST">
    <label class = "search" for="searchArea">
      Search Here:
    </label>
     <input id = "searchArea" type="text" name="showSearchTerm" placeholder="Enter Show Name" class="inp"/>
    <button type="submit" class="submit">Submit</button>
  </form>
</article>



